  /* FILEPATH: /c:/Users/Administrator/Angular/event-manage/src/app/app.component.html */
  /* BEGIN: bg-image-css */
  .login-container {
    background-image: url('../assets/eventManagement.jfif');
    background-size: cover;
    background-position: center;
    /* Add any other background properties as needed */
  }
  /* END: bg-image-css */